<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dynamic try</title>
</head>
<body>
    <div id="local-user-info" style="display: none;">
        <div id="continue-auth-username">Erick Tsafack</div>
    </div>
    
    <input type="text" value="" />

    <div id="data"></div>
    
    <script type="text/javascript" src="keyboard-tracker-master/dist/keyboard-tracker.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>